<div class="card">
    <p-table #dt2 [value]="empresas" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['convenio.empresa.nombre', 'convenio.empresa.ruc']"
        [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese Nombre de Empresa" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th id="text" style="width:22%">Nombre Empresa</th>
                <th id="text" style="width:22%">Número de RUC</th>
                <th id="text" style="width:22%">Fecha de Inicio</th>
                <th id="text" style="width:22%">Fecha de Fin</th>
                <th id="text" style="width:12%">Aprobación/Desaprobación</th>
                <th id="text" style="width:12%"></th>
            </tr>
            <tr>
                <th id="text">
                    <p-columnFilter type="text" field="convenio.empresa.nombre"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="convenio.empresa.ruc"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td id="text">
                    {{ solicitud.convenio.empresa.nombre }}
                </td>
                <td id="text">
                    {{ solicitud.convenio.empresa.ruc }}
                </td>
                <td id="text">
                    {{ solicitud.fechaInicioTen }}
                </td>
                <td id="text">
                    {{ solicitud.fechaMaxTen }}
                </td>
                <td id="text">
                    <button pButton pRipple type="button" icon="pi pi-pencil" label="" class="p-button-warning"
                        (click)="editarEmpresa(solicitud)"></button>
                </td>
                <td id="text">
                    <button pButton pRipple type="button" icon="pi pi-file-pdf" label="" class="p-button-warning"
                        (click)="descargarPDF(solicitud.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Sin Solicitudes de Empresas.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar usuario" [(visible)]="displayEU" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div class="p-grid p-fluid">
            <div class="row">
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control"
                                [(ngModel)]="solicitudEmpre.convenio.empresa.ruc" [pKeyFilter]="'int'" maxlength="10"
                                minlength="10" disabled="true" pInputText>
                            <label for="float-input">N° De RUC</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" disabled="true"
                                [(ngModel)]="solicitudEmpre.fechaInicioTen" maxlength="30" minlength="6" pInputText>
                            <label for="float-input">Fecha Inicio</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control"
                                [(ngModel)]="solicitudEmpre.numHoras" maxlength="30" minlength="3" disabled="true"
                                pInputText>
                            <label for="float-input">Horas Prácticas</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control"
                                [(ngModel)]="solicitudEmpre.numPracticantes" maxlength="30" minlength="3"
                                disabled="true" pInputText>
                            <label for="float-input">Practicantes Solicitados</label>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control"
                                [(ngModel)]="solicitudEmpre.convenio.empresa.nombre" [pKeyFilter]="'int'" maxlength="10"
                                minlength="10" disabled="true" pInputText>
                            <label for="float-input">Empresa</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" disabled="true"
                                [(ngModel)]="solicitudEmpre.fechaMaxTen" maxlength=" 30" minlength="6" pInputText>
                            <label for="float-input">Fecha Final</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <textarea id="float-input" class="form-control" disabled="true" rows="5" cols="30"
                                pInputTextarea [(ngModel)]="actividadDescript"></textarea>
                            <label for="float-input">Actividades A Realizar</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div class="flex flex-column gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="pizza" value="aprobado" [(ngModel)]="estado"
                                    inputId="estado"></p-radioButton>
                                <label for="estado" class="ml-2">Aprobado</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="pizza" value="desaprobado" [(ngModel)]="estado"
                                    inputId="estado"></p-radioButton>
                                <label for="estado" class="ml-2">Desaprobado</label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="estadoaprov" class="alert alert-danger">{{ estadoaprov }}</div>
                </div>
            </div>
            <div class="p-col-12 p-md-4">
                <div class="row">
                    <div class="col">
                        <button pButton pRipple type="button" label="Actualizar" icon="pi pi-check" iconPos="right"
                            class="p-button-rounded p-button-success" (click)="guardarPostulacion()"></button>
                    </div>
                    <div class="col">
                        <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" iconPos="right"
                            class="p-button-rounded p-button-danger" (click)="cancelar()"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>