<!DOCTYPE html>
<html>

<head>
  <title>Formularios</title>

</head>

<body>
  <h1>REGISTRO DE VISITA A EMPRESA FORMADORA RECEPTORA</h1>
  <h2>1. Datos Informativos:</h2>

  <div class="form-container">
    <form id="form1">
      <div class="form-group">
        <label for="fecha">Fecha de Elaboración:</label>
        <input type="date" id="fecha" name="fecha">
      </div>
      <div class="form-group">
        <label for="semana">Semana:</label>
        <input type="text" id="semaana" name="semana" [(ngModel)]="practica.estudiante.nsemanas">

      </div>
      <div class="form-group">
        <label for="tutor-institucional">Tutor Institucional:</label>
        <input type="text" id="tutor" name="tutor" [(ngModel)]="practica.tutorInstituto.usuario.nombre">

      </div>
      <div class="form-group">
        <label for="tutor-especifico">Tutor Específico:</label>
        <p>{{practica.tutorEmpresarial.usuario.nombre}}</p>
      </div>
      <div class="form-group">
        <label for="estudiante">Estudiante:</label>
        <p>{{practica.estudiante.usuario.nombre}}</p>
      </div>
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <p>{{practica.convocatoria.solicitudEmpresa.convenio.empresa.nombre}}</p>
      </div>
      <div class="form-group">
        <label for="periodo-academico">Período Académico:</label>
        <p>{{practica.estudiante.periodo}}</p>
      </div>
    </form>
  </div>

  <h2>2. Asunto:</h2>
  <p>Visita de seguimiento y observación del proceso de prácticas pre profesionales.</p>
  <h2>3. Informe Actividad Seguimiento:</h2>

  <div class="form-container">
    <form id="form2">
      <div class="form-group">
        <label for="informe">Informe Actividad Seguimiento:</label>
        <textarea id="informe" name="informe" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="observaciones">Observaciones:</label>
        <textarea id="observaciones" name="observaciones" rows="4"></textarea>
      </div>
    </form>
  </div>

  <h2>Observaciones Generales:</h2>

  <div class="form-container">
    <form id="form3">
      <div class="form-group">
        <label for="observaciones-generales">Observaciones Generales:</label>
        <textarea id="observaciones-generales" name="observaciones-generales" rows="4"></textarea>
      </div>


    </form>

  </div>
  <button>Generar</button>
</body>

</html>