<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo de tabla con botones</title>

  </head>
  <body>
    <div>
        <h1>Seleccione una empresa:</h1>
        <p>recuerde que solo puede postular a una y enviar una solicitud.</p>
    </div>
    <table>
      <tr>
        <th>EMPRESAS</th>
        <th>POSTULACION</th>
      </tr>
      <tr>
   
        <td>La favorita SA</td>
        <td><button (click)="createPDF()">Visualisar</button></td>
      </tr>
      <tr>
        <td>TecEmpresa</td>
        <td><button (click)="createPDF()">Visualisar</button></td>
      </tr>
      <tr>
        <td>PochisCompany SA</td>
        <td><button (click)="createPDF()">Visualisar</button></td>
      </tr>
      <tr>
        <td>RodolfoCompany NA</td>
        <td><button (click)="createPDF()">Visualisar</button></td>
      </tr>
      <tr>
        <td>EmpresaEmpresarialdeEmpresas SA</td>
        <td><button (click)="createPDF()">Visualisar</button></td>
      </tr>
    </table>
  </body>
</html>

