<div class="container">
    <div class="content">
        <p-panel id="panelregconvenio" header="Registro convenio">
            <div class="panel over overflow-auto p-grid p-fluid">
                <h4 style="text-align: center">Datos convenio</h4>
                <div class="cont p-grid p-fluid justify-content-center align-items-center">
                    <div class="col-sm">
                        <input type="hidden" #convenioid class="form-control" style="width: 200%;" name="RUC"
                            [(ngModel)]="convenio.id" required>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="col">
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="fechaI" [minDate]="fechaActual" [showIcon]="true"
                                        name="fechai" appendTo="body" [readonlyInput]="true"></p-calendar>
                                    <label for="float-input">Fecha Inicio</label>
                                </span>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="convenio.numero" [pKeyFilter]="'int'" name="numeroconv" pInputText
                                        required />
                                    <label for="float-input">Número de convenio</label>
                                </span>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" [(ngModel)]="nombreTuttor" disabled="true"
                                        name="tutor" placeholder="Ingrese su Título" pInputText>
                                    <label for=" float-input">Responsable Prácticas</label>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-col-12 p-md-4">
                                <span class="p-float-label">
                                    <p-calendar [(ngModel)]="fechaF" [minDate]="fechaI" [disabled]="!fechaI"
                                        name="fechaf" appendTo="body" [showIcon]="true"
                                        [readonlyInput]="true"></p-calendar>
                                    <label for="float-input">Fecha Fin</label>
                                </span>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <p-dropdown name="disponibilidad" [options]="Carreras" optionLabel="nombre"
                                    name="carreras" optionValue="id" optionLabel="nombre" placeholder="Seleccione"
                                    [required]="true" (onChange)="CarreraHunter($event.value)">
                                </p-dropdown>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <input (change)="imageSelected($event)" accept="pdf/*" name="foto" type="file"
                                        class="form-control" id="float-input" required />
                                    <label for="float-input"></label>
                                </span>
                                <div *ngIf="file" class="mt-3 text-center">
                                    <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <button pButton pRipple type="button" label="Registrar convenio" icon="pi pi-check"
                            iconPos="right" class="p-button-rounded p-button-primary"
                            (click)="GuardarConvenio()"></button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>