<div class="card">
    <p-table #dt2 [value]="solicitudes" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['convenio.empresa.nombre']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese Nombre de Empresa" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th id="text" style="width:22%">N°</th>
                <th id="text" style="width:25%">Empresa</th>
                <th id="text" style="width:22%">N° Horas</th>
                <th id="text" style="width:15%">Fecha Inicio</th>
                <th id="text" style="width:12%">Fecha Fin</th>
                <th id="text" style="width:12%">Generar Convocatoria</th>
                <th></th>
            </tr>
            <tr>
                <th id="text">
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="convenio.empresa.nombre"></p-columnFilter>
                </th>
                <th id="text">
                </th>
                <th id="text">
                </th>
                <th id="text">
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <ng-container *ngIf="solicitud.estado=== 2">
                    <td id="text">
                        {{ solicitud.id }}
                    </td>
                    <td id="text">
                        {{ solicitud.convenio.empresa.nombre}}
                    </td>
                    <td id="text">
                        {{ solicitud.numHoras }}
                    </td>
                    <td id="text">
                        {{ solicitud.fechaInicioTen }}
                    </td>
                    <td id="text">
                        {{ solicitud.fechaMaxTen }}
                    </td>
                    <td id="text">
                        <button pButton pRipple type="button" icon="pi pi-pencil" label="Generar Convocatoria"
                            class="p-button-warning" (click)="capturarid(solicitud.id)"></button>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Sin Listado Empresarial.</td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton pRipple type="button" label="Registrar Empresa" icon="pi pi-check" iconPos="right"
        class="p-button-rounded p-button-primary"></button>

</div>