<h1>PLAN DE APRENDIZAJE PRÁCTICO Y DE ROTACIÓN (PAPR)</h1>

<table class="papr-table">
    <tbody>
        <tr>
            <th>Nombre de la empresa formadora</th>
            <td>{{ practica.convocatoria.solicitudEmpresa.convenio.empresa.nombre }}</td>
        </tr>
        <tr>
            <th>Descripción de la empresa</th>
            <td>{{ practica.convocatoria.solicitudEmpresa.convenio.empresa.mision }}</td>
        </tr>
        <tr>
            <th>Carrera</th>
            <td>{{ practica.convocatoria.solicitudEmpresa.convenio.carrera.nombre }}</td>
        </tr>
        <tr>
            <th>Resolución de aprobación ITV</th>
            <td>SIES-ISTA-0XX-XXXX</td>
        </tr>
        <tr>
            <th>Número del convenio</th>
            <td>PPP-ISTA-0XX-XXXX: {{ practica.convocatoria.solicitudEmpresa.convenio.numero }} </td>
        </tr>
        <tr>
            <th>Nombre del estudiante</th>
            <td>{{ practica.estudiante.usuario.nombre }} {{ practica.estudiante.usuario.apellido }}</td>
        </tr>
        <tr>
            <th>Cédula</th>
            <td>{{ practica.estudiante.usuario.cedula }}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>{{ practica.estudiante.usuario.correo }}</td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch Modal
  </button>
   
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
      $("#input-b9").fileinput({
          showPreview: false,
          showUpload: false,
          elErrorContainer: '#kartik-file-errors',
          allowedFileExtensions: ["jpg", "png", "gif"]
          //uploadUrl: '/site/file-upload-single'
      });
  });
  </script>
