<div class="container">
  <table class="week-table">
    <thead>
      <tr>
        <th>Semana</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Evidencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semana of getActividadesPorSemana(); let i = index">
        <td>{{ semana.semana }}</td>
        <td>{{ semana.actividades[0].dia | date: 'dd/MM/yyyy' }}</td>
        <td>{{ semana.actividades[semana.actividades.length - 1].dia | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="file-upload">
            <label for="fileInput{{i}}" class="custom-file-upload">
              <i class="fas fa-cloud-upload-alt"></i> Agregar Evidencia
            </label>
            <input id="fileInput{{i}}" type="file" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <img *ngIf="imagenesSemana[i]" [src]="imagenesSemana[i]" width="100" height="100">
        </td>
        
      </tr>
    </tbody>
  </table>

  <div class="conclusion-container">
    <textarea placeholder="Agregar conclusión" [(ngModel)]="conclusion" rows="4"></textarea>
    <div class="button-container">
      <button class="pdf-button" (click)="generarPDF()">Generar Informe Final</button>
    </div>
  </div>

  <div class="conclusion-container">
    <input type="file" (change)="onFileSelected($event)"><br>
    <button pButton pRipple type="button" label="Enviar PDF" icon="pi pi-check" iconPos="right" 
    class="p-button-rounded p-button-primary" (click)="updatePDF()"></button>
<br>
    <button pButton pRipple type="button" label="Ver PDF" icon="pi pi-check" iconPos="right" 
    class="p-button-rounded p-button-primary" (click)="descargarPDF(anexoId)"></button>
  </div>

</div>

