<div class="card">
    <h2>Solicitud</h2>

    <form #reg="ngForm" (ngSubmit)="Guardarsoli(reg)">
        <div class="col- ig-12 col-md-11">

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Numero de estudiantes</h4>
                </label>
                <div class="col-sm">
                    <input type="number"  class="form-control" name="estudiantes" [(ngModel)]="soliempresa.numPracticantes" required>
        
                </div>
            </div>
            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Numero de horas</h4>
                </label>
                <div class="col-sm">
                    <input type="number"  class="form-control"  name="estudiantes"  [(ngModel)]="soliempresa.numHoras" required>
        
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Fecha Inicio</h4>
                </label>
                <div class="col-sm">
					<input type="date" id="caducidad" name="caducidad" [(ngModel)]="fechaI" required="required">
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Fecha Fin</h4>
                </label>
                <div class="col-sm">
					<input type="date" id="caducidad" name="caducidad" [(ngModel)]="fechaF" required="required">
                </div>
            </div>
        </div>

        <button type="submit" class="crear"> Guardar</button>

    </form>

</div>



