<!DOCTYPE html>
<html lang="es">
<body>
<div>
    <h1>Envio de solicitud</h1>
    

</div>


	<form>
		<fieldset>
			

			<label>Nombre de Empresa</label>
			<input type="text" placeholder="Ej. Pepito">

			<br><br>
			<label>Email</label>
			<input type="email" placeholder="ejemplo@gmail.com">

			<br><br>
			<label>Numero de estudiantes</label>
			<input type="number">

            <br><br>
            <label>Nombre Solicitante</label>
			<input type="text" placeholder="Ej. Pepito">
	
			<br>
                <label for="caducidad">Fecha </label>
                <input type="month" id="caducidad" name="caducidad" required="required">
                <br>

			<br><br>
			<label>Cargo de la Empresa</label>
			<select>
				<option>Director</option>
				<option>Recursos</option>
				<option>Fargo</option>
				<option>True Detective</option>
			</select>

			<br><br>
			<label>Actividad a Realizar</label><br>
			<textarea rows="5" cols="70"></textarea>

			<br><br>
			<input type="submit" value="GUARDAR">
			<input type="reset" value="Borrar formulario">

		</fieldset>
	</form>

	<hr>

</body>
</html>