<section>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col" id="form-mision">
                <div class="form-box">
                    <div class="form-value text-center">
                        <h3>Misión</h3>
                        <p>
                            El Instituto Superior Universitario Tecnológico del Azuay se consolida como una institución
                            de educación superior que sustenta sus procesos de enseñanza-aprendizaje en el ámbito
                            técnico y tecnológico de grado y posgrado, con la más alta calidad académica y humana, sobre
                            la base de fundamentos científicos; con el propósito de proveer soluciones a los problemas y
                            necesidades de la sociedad desde la docencia, la investigación científica y la vinculación.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col" id="form-vision">
                <div class="form-box">
                    <div class="form-value text-center">
                        <h3>Visión</h3>
                        <p>
                            Ser una institución de calidad, solidaria, inclusiva, intercultural y diversa, reconocida
                            por su excelencia académica y sus aportes a la sociedad en el área de la investigación,
                            innovación tecnológica y vinculación, a nivel nacional e internacional, promoviendo el
                            desarrollo integral de la persona y el entorno, en busca de una sociedad justa y equitativa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col" id="form-principio">
                <div class="form-box" id="principio">
                    <div class="form-value text-center">
                        <h3>Principios</h3>
                        <p>
                            Los principios por los cuales se rige la institución, señalados en la Constitución de la
                            República y la Ley Orgánica de Educación Superior, son los siguientes:
                        </p>
                        <ul class="custom-list">
                            <li>Cogobierno</li>
                            <li>Igualdad de oportunidades</li>
                            <li>Calidad</li>
                            <li>Pertinencia</li>
                            <li>Integralidad</li>
                            <li>Autodeterminación para la producción del pensamiento y conocimiento</li>
                            <li>Universalidad</li>
                            <li>Equidad</li>
                            <li>Progresividad</li>
                            <li>Interculturalidad</li>
                            <li>Solidaridad</li>
                            <li>Movilidad</li>
                            <li>Inclusión</li>
                            <li>Humanismo</li>
                            <li>Responsabilidad</li>
                            <li>Trabajo Colaborativo</li>
                        </ul>
                        <p>
                            Estos principios se aplicarán bajo criterios de calidad, eficiencia, eficacia,
                            transparencia, responsabilidad y participación. Los mecanismos para efectivizarlos se
                            desarrollan en los artículos que conforman el presente Estatuto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>