
<div class="card">
    <h2>Asignaturas Aprobadas</h2>

    <form>
        <div class="col- ig-12 col-md-11">
           
            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label" >
                   
                </label>
                <div class="col-sm">
                    <div class="form-group" >
                        <select  class="form-select" name="disponibilidad" (change)="  guardarOpcion($event)">
                            " required>
                          <option value="true">SELECCIONE</option>
                          <option *ngFor="let mat of Materias" value="{{mat.nombre}}">{{mat.nombre}}</option>
                        </select>
                      </div>
                    <ul>
                        <li *ngFor="let opcion of opcionesGuardadas">{{opcion}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <button class="crear" style="margin-left: 40%;">Guardar</button>

    </form>
    

   

</div>

<div class="card">
     
    <h4>Feacha Maxima de Postulacion</h4> 
    <form>
        <div class="col- ig-12 col-md-11">
            <label for="Codigo DEWEY" class="col-sm col-form-label" >
                <h4>Feacha Max</h4>
            </label>
            <div class="row mb-3">
                
                <div class="col-sm">
                    <input type="date"  class="form-control" style="width: 200%;" name="codigo-DEWEY" required placeholder="Ingrese una Fecha">
        
                </div>
            </div>

        </div>

        <button class="crear" style="margin-left: 40%;" >Guardar</button>

    </form>
</div>
