/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

section {
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(181, 162, 162, 0.4), transparent),
    url(https://th.bing.com/th/id/OIG.JYUpvZfs.eviXMWtJqoZ?pcl=1b1a19&pid=ImgGn);
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  color: rgb(0, 17, 70);
}

.cover-container {
  max-width: 45rem;
}

.contenedor .tittle {
  margin-top: 5%;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
#btns {
  background-color: rgb(218, 211, 211);
  border-bottom-color: rgb(2, 2, 2);
  border-color: black;
}

#btns:hover,
#btns:focus {
  color: black;
  border-bottom-color: rgb(8, 8, 8);

  border-color: black;
  background-color: rgb(13, 243, 166);
}

header {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  height: 100px;
  transition: 0.5s;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  padding: 16px 12px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
button::hower {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    red,
    blue,
    deeppink,
    blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

.logo {
  height: 60%;
}

.scrolled-search {
  opacity: 1;
  pointer-events: all;
}

.main-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: #f2f2f2;
}

.cta {
  padding: 10px 24px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #f2f2f2;
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.cta:hover {
  color: #f2f2f2;
  background-color: #04548a;
}

.menu-item:hover {
  color: var(--main-color);
}

a {
  cursor: pointer;
}
