<section>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <!-- auth.component.html -->
<div class="auth-container">
  <h1>Welcome to Auth</h1>
  <form #loginForm="ngForm" (ngSubmit)="validateUser(loginForm)">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="model.correo" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="model.password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <p>{{ authStatus }}</p>
</div>


    </div>

</section>