
<div class="card">
    <h2>Registro de Empresa</h2>

    <form #reg="ngForm" (ngSubmit)="crearempresa(reg)">
        <div class="col- ig-12 col-md-11">
           
            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>RUC:</h4>
                </label>
                <div class="col-sm">
                    <input type="number"  class="form-control" style="width: 200%;" name="RUC" [(ngModel)]="Empresa.ruc" required>
        
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Empresa</h4>
                </label>
                <div class="col-sm">
                    <input type="text"  class="form-control" style="width: 200%;" name="Empresa" [(ngModel)]="Empresa.nombre" required>
        
                </div>
            </div>
            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Matriz</h4>
                </label>
                <div class="col-sm">
                    <input type="text"  class="form-control" style="width: 200%;" name="Matriz" [(ngModel)]="Empresa.matriz" required>
        
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Mision</h4>
                </label>
                <div class="col-sm">
                    <textarea type="text"  class="form-control" style="width: 200%; " name="Mision" [(ngModel)]="Empresa.mision" required></textarea>
        
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Vision</h4>
                </label>
                <div class="col-sm">
                    <textarea type="text"  class="form-control" style="width: 200%; " name="Vision" [(ngModel)]="Empresa.vision" required></textarea>
        
                </div>
            </div>

            <div class="row mb-3">
                <label for="Codigo DEWEY" class="col-sm col-form-label">
                    <h4>Objetivos</h4>
                </label>
                <div class="col-sm">
                    <textarea type="text"  class="form-control" style="width: 200%; " name="Objetivos" [(ngModel)]="Empresa.objetivo" required></textarea>
        
                </div>
            </div>

        </div>

        <button type="submit" class="crear"> Guardar</button>

    </form>

</div>


