<div class="card">
    <p-table #dt2 [value]="convocatorias" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['numero', 'incio', 'fin']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese Número de Convocatoria" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th id="text" style="width:22%">Número de Convocatoria</th>
                <th id="text" style="width:22%">Fecha de Inicio</th>
                <th id="text" style="width:22%">Fecha de Fin</th>
                <th id="text" style="width:12%"></th>
            </tr>
            <tr>
                <th id="text">
                    <p-columnFilter type="text" field="numero"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="inicio"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="fin"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-convocatoria>
            <tr>
                <td id="text">
                    {{ convocatoria.numero }}
                </td>
                <td id="text">
                    {{ convocatoria.fechaInicio }}
                </td>
                <td id="text">
                    {{ convocatoria.fechaFin }}
                </td>
                <td id="text">
                    <button pButton pRipple type="button" icon="pi pi-eye" label="Visualizar" class="p-button-warning"
                        (click)="listarPostulantes()"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Sin Solicitudes de Empresas.</td>
            </tr>
        </ng-template>
    </p-table>
</div>