<div class="container">
  <div class="content">
    <p-panel id="panelregempresa" header="Registro Actividades">
      <div class="panel over overflow-auto p-grid p-fluid">
        <h4 style="text-align: center">Actividades Solicitudes Empresa</h4>
        <div class="p-grid p-fluid justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <div class="col">
              <div class="p-col-12 p-md-4">
                <span class="p-float-label">
                  <input id="float-input" type="text" class="form-control" name="estudiantes"
                    [(ngModel)]="actividad.descripcion" pInputText />
                  <label for="float-input">Descripción de Actividad</label>
                </span>
              </div>
            </div>
            <div class="col">
              <div class="p-col-12 p-md-4">
                <button pButton pRipple type="button" label="Guardar Actividad" icon="pi pi-check" iconPos="right"
                  class="p-button-rounded p-button-primary" (click)="guardarActividad()"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <div class="card">
      <p-table #dt2 [value]="actividades" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Observando de {first} a {last} de {totalRecords} Actividades"
        [globalFilterFields]="['empresa.nombre']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th id="text" style="width:22%">Descripción Actividad</th>
            <th id="text" style="width:22%">Eliminar Actividad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-actividad>
          <tr>
            <td id="text">
              {{ actividad.descripcion }}
            </td>
            <td id="text">
              <button pButton pRipple type="button" icon="pi pi-trash" style="background-color: rgb(245, 64, 64);"
                label="Quitar Actividad" class="p-button-warning" (click)="eliminarActividad(actividad.id)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate=" emptymessage">
          <tr>
            <td colspan="5">Sin Actividades.</td>
          </tr>
        </ng-template>
      </p-table>
      <button pButton pRipple type="button" label="Generar PDF" icon="fas fa-file-pdf" style="margin-top: 1%;"
        iconPos="right" class="p-button-rounded p-button-primary p-button-sm p-button-generate-pdf"
        (click)="generarPDF();displayEU = true "></button>

      <p-dialog header="Subir Pdf" class="digog" [(visible)]="displayEU" [modal]="true" [style]="{width: '50vw'}"
        [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="body">
          <div class="p-grid p-fluid">
            <div class="p-col-3 p-md-4">
              <span class="p-float-label">
                <input name="foto" id="float-input" (change)="onFileChange($event)" accept=".pdf" type="file"
                  class="form-control" required />
                <label for="float-input"></label>
              </span>
            </div>
            <button pButton pRipple type="button" label="Enviar PDF" icon="pi pi-check" iconPos="right"
              class="p-button-rounded p-button-primary" (click)="updatePDFSolicitud(); displayEU = false"></button>
          </div>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>