<!DOCTYPE html>
<html>

<head>
  <title>Actividades propuestas</title>

</head>

<body>
  <div>
    <h1>Actividades propuestas</h1>
    <p>Actividades a presentar:</p>
  </div>
  <table>
    <tr>
      <th>Actividad</th>
      <th>Objetivo</th>
      <th>Asignatura</th>
    </tr>
    <tr>
      <td>{{actividad.id}}</td>
      <td>{{this.descripcionObjetivo}}</td>
      <td>
        <div class="p-col-3 p-md-4">
          <p-dropdown [options]="materia" [(ngModel)]="selectedMateria" name="practicantes" optionLabel="nombre"
            optionValue="id" [filter]="true" filterBy="nombre" [showClear]="true" (onChange)="materiaid($event.value)"
            placeholder="Seleccionar Materia">
          </p-dropdown>
        </div>
      </td>
      <td>
       <button (click)="guardarmateria()">POSTULAR</button>
      </td>
    </tr>
  </table>
  
</body>

</html>