<!DOCTYPE html>
<html>
<head>
  <title>Anexos de Prácticas Preprofesionales</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    
    h1 {
      color: #333;
      text-decoration: none;
      text-align: center;
    }
    
    h2 {
      color: #333;
      margin-bottom: 5px;
    }
    
    ul {
      list-style-type: none;
      margin-left: 20px;
    }
    
    li {
      margin-bottom: 10px;
    }
    
    p {
      margin-bottom: 5px;
    }
    
    .note {
      font-style: italic;
      color: #777;
    }
    
    .highlight {
      background-color: #FFFFCC;
    }
  </style>
</head>
<body>
    <br>
  <h1>Anexos a presentar como parte de la finalización de las prácticas preprofesionales:</h1>
  
  <ul>
    <li>
      <h2>00_SolicitudEmpresa:</h2>
      <p>Remito el digital que enviaron de la empresa, este documento hay que solicitar el original a la empresa, debe estar firmado a mano y constar el sello de la empresa, es un solo documento que sirve para todos.</p>
    </li>
    <li>
      <h2>01_Convocatoria:</h2>
      <p>Corresponde a la convocatoria, se imprime por parte del responsable de prácticas pre profesionales, es un solo documento que sirve para todos.</p>
    </li>
    <li>
      <h2>02_SolicitudEstudiantes:</h2>
      <p>Corresponde a la solicitud, se debe imprimir y firmar por el estudiante, no se valida la firma digital, revisar los periodos académicos, si corresponde a un periodo previo al periodo actual se debe agregar la palabra egresado.</p>
    </li>
    <li>
      <h2>03_Oficio_Preseleccion:</h2>
      <p>Se debe imprimir y hacer constar un recibido con la firma/rubrica y sello de la empresa, se imprime un solo documento que sirve para todos.</p>
    </li>
    <li>
      <h2>04_DesignacionTutorEspecifico:</h2>
      <p>Solicitar el original a la empresa, revisar que los datos resaltados en celeste sean los correctos e imprimir, debe constar la firma y sello de la empresa.</p>
    </li>
    <li>
      <h2>Anexo1_PAPR:</h2>
      <p>Guiarse en el anexo A1_PAPR-Objetivos, de acuerdo a las actividades a realizar seleccionar los Resultados de aprendizajes esperados y los objetivos aprendizaje Específicos que se alineen con las actividades desarrolladas en las prácticas.</p>
    </li>
    <li>
      <h2>Anexo2_ObligacionesEstudiante:</h2>
      <p>Revisar que los datos resaltados en celeste sean los correctos e imprimir, debe constar la firma del estudiante a mano.</p>
    </li>
    <li>
      <h2>Anexo3_InduccionSaludOcupacional:</h2>
      <p>Revisar que los datos resaltados en celeste sean los correctos e imprimir, debe constar la firma del estudiante a mano.</p>
    </li>
    <li>
      <h2>A4_DesignacionTutorAcademico:</h2>
      <p>Revisar que los datos resaltados en celeste sean los correctos e imprimir, debe constar la fecha y firma de recibido del tutor académico a mano.</p>
    </li>
    <li>
      <h2>A5_RegistroVisitas:</h2>
      <p>Revisar los datos resaltados en celeste e imprimir, debe constar la firma del tutor académico y del tutor específico.</p>
    </li>
    <li>
      <h2>A6_ReporteSemanal:</h2>
      <p>Revisar los datos resaltados en celeste e imprimir, debe constar la firma del tutor académico, estudiante y del tutor específico.</p>
    </li>
    <li>
      <h2>A7_Evaluacion:</h2>
      <p>Revisar los datos resaltados en celeste e imprimir, debe constar la firma del tutor académico y del tutor específico.</p>
    </li>
    <li>
      <h2>A8_InformeFinal:</h2>
      <p>Revisar los datos resaltados en celeste e imprimir, debe constar la firma del tutor académico, estudiante y del tutor específico.</p>
    </li>
  </ul>
  
  <p class="note">Nota: mantener los títulos de los anexos y quitar todos los resaltados celestes y eliminar los resaltados en amarillo, también considerar que previo a la entrega de los anexos A5-A8 se debe revisar por el tutor académico, después de terminada las prácticas se tiene 15 días laborables para la entrega de la documentación con todas las firmas y sellos correspondientes.</p>
</body>
</html>
