<head>
    <link href="https://fonts.googleapis.com/css?family=Calibri&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="content">
        <p-panel id="panelregempresa" header="Registro Tutor Académico">
            <div class="panel over overflow-auto p-grid p-fluid">
                <h4 style="text-align: center">Datos del Tutor Académico</h4>
                <div class="p-grid p-fluid justify-content-center align-items-center">
                    <div class="row">
                        <div class="col">
                            <div class="p-col-12 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.empresa" [pKeyFilter]="'int'" maxlength="13"
                                        minlength="13" pInputText required />
                                    <label for="float-input">Nombre de Empresa</label>
                                </span>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.nombre_tutor" [pKeyFilter]="blockSpecial"
                                        maxlength="100" minlength="10" pInputText required />
                                    <label for="float-input">Nombre de Tutor Académico</label>
                                </span>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.practicante" [pKeyFilter]="blockSpecial"
                                        maxlength="100" minlength="10" pInputText required />
                                    <label for="float-input">Nombre de Practicante</label>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-col-12 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.responsable_ppp" [pKeyFilter]="blockSpecial"
                                        maxlength="100" minlength="10" pInputText required />
                                    <label for="float-input">Nombre Responsable PPP</label>
                                </span>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.cedula_tutor" [pKeyFilter]="'alpha'"
                                        maxlength="100" minlength="3" pInputText required />
                                    <label for="float-input">N° de Cédula Tutor Académico</label>
                                </span>
                            </div>
                            <div class="p-col-3 p-md-4">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" class="form-control"
                                        [(ngModel)]="tutor_academico.representante_legal" [pKeyFilter]="'int'"
                                        maxlength="6" minlength="6" pInputText />
                                    <label for="float-input">Nombre Representante Legal</label>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="p-col-12 p-md-4">
                            <button pButton pRipple type="button" label="Registrarse" icon="pi pi-check" iconPos="right"
                                class="p-button-rounded p-button-primary"></button>
                        </div>
                        <button (click)="generarPDF()">Generar PDF</button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>