<div class="container">
    <p-panel id="panelregempresa" header="Registro Gerente Empresa">
        <div class="panel over overflow-auto p-grid p-fluid">
            <h4 style="text-align: center">Datos del Gerente Empresa</h4>
            <div class="p-grid p-fluid justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <div class="col">
                        <div class="p-col-12 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="empresa.nombre" disabled="true"
                                    class="form-control" [pKeyFilter]="blockSpecial" maxlength="100" minlength="10"
                                    pInputText required />
                                <label for="float-input">Nombre Empresa</label>
                            </span>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <p-dropdown [options]="responsableppp" [(ngModel)]="selectedResponsable"
                                optionLabel="usuario.nombre" optionValue="id" [filter]="true" filterBy="usuario.nombre"
                                [showClear]="true" placeholder="Responsable PPP">
                            </p-dropdown>
                        </div>
                       
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="usuario.titulo"
                                    (ngModelChange)="cambiarAcronico()" placeholder="Ingrese su Título" pInputText>
                                <label for=" float-input">Título</label>
                            </span>
                        </div>
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="tutorEmpresarial.cargo"
                                    placeholder="Ingrese su Título" pInputText>
                                <label for=" float-input">Cargo</label>
                            </span>
                        </div>
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <p-password [toggleMask]="true" [(ngModel)]="usuario.password"></p-password>
                                <label for="float-input">Password</label>
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="usuario.cedula" [pKeyFilter]="'int'"
                                    maxlength="10" minlength="10" placeholder="Ingrese Número de Cédula" pInputText>
                                <label for="float-input">Número de Cédula</label>
                            </span>
                        </div>

                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="usuario.nombre"
                                    placeholder="Ingrese Nombres Completos" pInputText>
                                <label for="float-input">Nombres</label>
                            </span>
                        </div>
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="usuario.apellido"
                                    placeholder="Ingrese Apellidos Completos" pInputText>
                                <label for=" float-input">Apellidos</label>
                            </span>
                        </div>
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="email" [(ngModel)]="usuario.correo"
                                    (ngModelChange)="validarCorreo()" placeholder="Ingrese Dirección de Email"
                                    pInputText>
                                <label for=" float-input">Correo Electrónico</label>
                            </span>
                        </div>
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" [(ngModel)]="usuario.telefono"
                                    placeholder=" Ingrese Número Telefónico" pInputText>
                                <label for=" float-input">Número de Teléfono</label>
                            </span>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="p-col-12 p-md-4">
                    <button pButton pRipple type="button" label="Registrar Gerente" icon="pi pi-check" iconPos="right"
                        class="p-button-rounded p-button-primary" (click)="registerTutor()"></button>
                    <br><br>
                   <!--- <button pButton pRipple type="button" label="Generar PDF" icon="fas fa-file-pdf" iconPos="right"
                        *ngIf="enabledButton"
                        class="p-button-rounded p-button-primary p-button-sm p-button-generate-pdf"
                        (click)="generarPDF()"></button>-->
                </div>
            </div>
        </div>
    </p-panel>
</div>

<p-dialog header="Subir Pdf" class="digog" [(visible)]="displayEU" [modal]="true" [style]="{width: '75vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div class="p-grid p-fluid">
            <div class="p-col-3 p-md-4">
                <span class="p-float-label">
                    <input name="foto" id="float-input" (change)="fileSelected($event)" accept=".pdf" type="file"
                        class="form-control" required />
                    <label for="float-input"></label>
                </span>
                <!--  <div *ngIf="file" class="mt-3 text-center">
                    <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                </div> -->
            </div>
        </div>
    </ng-template>
</p-dialog>