<div class="card">
  <h2> OBJETIVOS SEGUN LA ASIGNATURA</h2>
  <p-table #dt2 [value]="objetivosMateria" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['convenio.empresa.nombre', 'convenio.empresa.ruc']" [tableStyle]="{ 'min-width': '75rem' }">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Ingrese Nombre de la Asignatura" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="text" style="width:22%">Asignatura</th>
        <th id="text" style="width:22%">Objetivos</th>
        <th id="text" style="width:12%"></th>
      </tr>
      <tr>
        <th id="text">
          <p-columnFilter type="text" field="objetivo.materia.nombre"></p-columnFilter>
        </th>
        <th id="text">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-objetivo>
      <tr>
        <td id="text">
          {{ objetivo.materia.nombre }}
        </td>
        <td id="text">
          {{ objetivo.descripcion }}
        </td>
        <td id="text">
          <button pButton pRipple type="button" icon="pi pi-trash" style="background-color: rgb(245, 64, 64);"
            label="Quitar Objetivo" class="p-button-warning" (click)="eliminarObjetivo(objetivo.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Sin Solicitudes de Empresas.</td>
      </tr>
    </ng-template>
  </p-table>
  <div id="botones">
    <button pButton pRipple type="button" id="button" label="Agregar Objetivo" icon="pi pi-check" iconPos="right"
      class="p-button-rounded" (click)="openPopups()"></button>

    <button pButton pRipple type="button" id="button" label="Agregar Materia" icon="pi pi-times" iconPos="right"
      class="p-button-rounded" (click)="openPopup()"></button>
  </div>
</div>

<p-dialog header="Editar usuario" [(visible)]="displayPopup" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">
    <div class="p-grid p-fluid">
      <div class="row">
        <div class="p-col-12 p-md-4">
          <p-dropdown [options]="carreras" [(ngModel)]="selectedCarrera" name="docente" optionLabel="nombre"
            appendTo="body" optionValue="id" [filter]="true" filterBy="apellidos" [showClear]="true"
            placeholder="Seleccionar Carrera" (onChange)="carreraCon($event.value)">
          </p-dropdown>
        </div>
        <div class="p-col-12 p-md-4">
          <span class="p-float-label">
            <input id="float-input" type="text" class="form-control" name="asignatura" [(ngModel)]="materia.nombre"
              pInputText>
            <label for="float-input">Nombre Materia</label>
          </span>
        </div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="row">
          <div class="col">
            <button pButton pRipple type="button" label="Guardar Asignatura" icon="pi pi-check" iconPos="right"
              class="p-button-rounded p-button-success" (click)="GuardarAsignatura()"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog header="Editar usuario" [(visible)]="displayPopups" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">
    <div class="p-grid p-fluid">
      <div class="row">
        <div class="p-col-12 p-md-4">
          <p-dropdown [options]="materias" [(ngModel)]="selectedMateria" name="docente" optionLabel="nombre"
            appendTo="body" optionValue="id" [filter]="true" filterBy="nombre" [showClear]="true"
            placeholder="Seleccionar Materia" (onChange)="materiaCon($event.value)">
          </p-dropdown>
        </div>
        <div class="p-col-12 p-md-4">
          <span class="p-float-label">
            <textarea id="float-input" class="form-control" #name rows="5" cols="60" [(ngModel)]="objetivo.descripcion"
              pInputTextarea></textarea>
            <label for="float-input">Objetivo Materia</label>
          </span>
        </div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="row">
          <div class="col">
            <button pButton pRipple type="button" label="Guardar Objetivo" icon="pi pi-check" iconPos="right"
              class="p-button-rounded p-button-success" (click)="GuardarObjeto()"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>