<div class="card p-3">
  <h2 class="mb-4">Registro de Actividades Diarias</h2>

  <div class="mb-3">
    <label class="fw-bold">Fecha inicio de actividades:</label>
    <input type="date"  class="form-control" [(ngModel)]="fechaInicio"
      placeholder="DD/MM/AAAA">
    <label class="fw-bold">Fecha fin de la semana de actividades:</label>
    <input type="date" class="form-control" [(ngModel)]="fechaFin" placeholder="DD/MM/AAAA">
  </div>

  <div class="mb-3">
    <label class="fw-bold">Semanas</label>
    <div class="row">
      <div class="col">
        <label class="fw-bold">Número de semana</label>
        <input type="text" [(ngModel)]="semana" class="form-control" [(ngModel)]="numeroSemana">
      </div>
    </div>
  </div>
  <div class="form">
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Día</th>
          <th>Hora de ingreso</th>
          <th>Hora de salida</th>
          <th>Total Horas</th>
          <th>Detalle de actividad realizada</th>
        </tr>
      </thead>
      <tbody>

        <tr>

          <td>Lunes</td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm">
          </td>
          <td>22</td>
          <td>
            <input type="text" class="form-control form-control-lg">
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <label class="fw-bold">Número Total de Horas:</label>
    {{ calcularTotalHorasSemana() }}

    <div class="d-flex justify-content-end">
     
    </div>
  </div>


<form (ngSubmit)="submitForm()">
 
    <h3>Dia 1</h3>
    <div>
      <label>Fecha:</label>
      <input type="hidden" [(ngModel)]="fechaInicio"  required>
    </div>
    <div>
      <label>Hora de inicio:</label>
      <input type="time" [(ngModel)]="Sactvidad.horaInicio" required>
    </div>
    <div>
      <label>Hora de fin:</label>
      <input type="time" [(ngModel)]="Sactvidad.horaFin"  required>
    </div>
    <div>
      <label>Descripción:</label>
      <textarea [(ngModel)]="Sactvidad.actividad"  rows="3" required></textarea>
    </div>
  
  <button type="submit">Guardar</button>
</form>
</div>

