<div class="card">
    <p-table #dt2 [value]="solicitudes" dataKey="id" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['cedula', 'nombre', 'apellido', 'ciclo']" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Ingrese Numero de Cedula o Apellido" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th id="text" style="width:22%">N° de Cédula</th>
                <th id="text" style="width:22%">Nombres</th>
                <th id="text" style="width:22%">Apellidos</th>
                <th id="text" style="width:15%">Ciclo</th>
                <th id="text" style="width:12%">Aprobación/Desaprobación</th>
                <th id="text" style="width:12%">Ver PDF</th>
            </tr>
            <tr>
                <th id="text">
                    <p-columnFilter type="text" field="cedula"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="nombre"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="apellido"></p-columnFilter>
                </th>
                <th id="text">
                    <p-columnFilter type="text" field="ciclo"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td id="text">
                    {{ solicitud.estudiante.usuario.cedula }}
                </td>
                <td id="text">
                    {{ solicitud.estudiante.usuario.nombre }}
                </td>
                <td id="text">
                    {{ solicitud.estudiante.usuario.apellido }}
                </td>
                <td id="text">
                    {{ solicitud.estudiante.ciclo }}
                </td>
                <td id="text">
                    <button pButton pRipple type="button" icon="pi pi-pencil" label="" class="p-button-warning"
                        (click)="editarPracticante(solicitud)"></button>
                </td>
                <td id="text">
                    <button pButton pRipple type="button" icon="pi pi-file-pdf" label="" class="p-button-warning"
                        (click)="descargarPDF(solicitud.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Sin Solicitudes de Practicantes.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar Aprobacion" [(visible)]="displayEU" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div class="p-grid p-fluid">
            <div class="row">
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" [(ngModel)]="usuario.cedula"
                                [pKeyFilter]="'int'" maxlength="10" minlength="10" disabled="true" pInputText>
                            <label for="float-input">Cédula</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" disabled="true"
                                [(ngModel)]="usuario.nombre" maxlength="30" minlength="3" pInputText>
                            <label for="float-input">Nombres</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" disabled="true"
                                [(ngModel)]="estudiante.ciclo" maxlength="30" minlength="6" pInputText>
                            <label for="float-input">Ciclo</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" [disabled]="!aprobado"
                                [(ngModel)]="practica.departamento" pInputText>
                            <label for="float-input">Nombre de Departamento</label>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" disabled="true"
                                [(ngModel)]="usuario.correo" maxlength=" 30" minlength="6" pInputText>
                            <label for="float-input">Correo Electrónico</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" [(ngModel)]="usuario.apellido"
                                maxlength="30" minlength="3" disabled="true" pInputText>
                            <label for="float-input">Apellidos</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" [disabled]="!aprobado"
                                [(ngModel)]="practica.nsemanas" disabled="true" pInputText>
                            <label for="float-input">Número de Semanas</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" class="form-control" [disabled]="!aprobado"
                                [(ngModel)]="practica.periodo" disabled="true" pInputText>
                            <label for="float-input">Ingrese Periodo</label>
                        </span>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <div class="flex flex-column gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="pizza" value="aprobado" [(ngModel)]="estado"
                                    inputId="estado"></p-radioButton>
                                <label for="estado" class="ml-2">Aprobado</label>
                            </div>

                            <div class="flex align-items-center">
                                <p-radioButton name="pizza" value="desaprobado" [(ngModel)]="estado"
                                    inputId="estado"></p-radioButton>
                                <label for="estado" class="ml-2">Desaprobado</label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="estadoaprov" class="alert alert-danger">{{ estadoaprov }}</div>
                </div>
            </div>
            <div class="p-col-12 p-md-4">
                <div class="row">
                    <div class="col">
                        <button pButton pRipple type="button" label="Actualizar" icon="pi pi-check" iconPos="right"
                            class="p-button-rounded p-button-success" (click)="guardarPostulacion()"></button>
                    </div>
                    <div class="col">
                        <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" iconPos="right"
                            class="p-button-rounded p-button-danger" (click)="cancelar()"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>